@import "_variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.flex {
	display: flex;
}

.container {
	justify-content: center;
}

.no-bullet-ul {
	list-style-type: none;
}

.no-decoration-text {
	text-decoration: none;
	color: inherit;
}

.text-center {
	text-align: center;
}

.title {
	@include title-style-1;
}

.description {
	@include description-style-1;
}
