@import "_variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.flex {
	display: flex;
}

.no-bullet-ul {
	list-style-type: none;
}

.no-decoration-text {
	text-decoration: none;
	color: inherit;
}

.text-bold {
	font-weight: bold;
}
