/* BACKGROUND COLORS */
$bg-white: #FFFFFF;
$bg-white-1: #FFFFFF80;
$bg-white-2: #FAFAFA;
$bg-white-3: #F7F8FA;
$bg-yellow-1: #E9D758;
$bg-red-1: #DA5F60E6;
$bg-cyan-1: #20AD96;
$bg-blue-1: #3D404F;
$bg-black: #000000;
$bg-black-1: #454545;
$bg-black-2: #000000CC;
/* end BACKGROUND COLORS */

/* TEXT COLORS */
$text-white: #FFFFFF;
$text-white-1: #FFFFFFCC;
$text-yellow-1: #E9D758;
$text-green-1: #79B530;
$text-grey-1: #8B8B8A;
$text-grey-2: #7F7F7F;
$text-grey-3: #74777B;
$text-grey-4: #70727E;
$text-grey-5: #5C5E6C;
$text-cyan-1: #20AD96;
$text-blue-1: #434959;
$text-black: #000000;
$text-black-1: #454545;
$text-black-2: #3D404F;
$text-black-3: #3F3F3F;
$text-black-4: #223441;
$text-black-5: #252525;
$text-black-6: #151515;
/* end TEXT COLORS */

/* FILL COLORS */
$fill-white: #FFFFFF;
$fill-green-1: #69DE89;
$fill-green-2: #82B541;
$fill-cyan-1: #20AD96;
$fill-black: #000000;
/* end FILL COLORS */

/* BORDER COLORS */
$border-white: #FFFFFF;
$border-white-1: #ECECEE;
$border-white-2: #E5ECEF;
$border-white-3: #EAEAEA;
$border-yellow-1: #E9D758;
$border-cyan-1: #20AD96;
$border-grey-1: #CCCCCC;
$border-green-1: #79B530;
$border-black: #000000;
/* end BORDER COLORS */

/* BOX SHADOWS */
$box-shadow-1: 0 0 10px #555555;
$box-shadow-2: 0 0 10px #DDDDDD;
/* BOX SHADOWS */

/* FONTS */
$font-1: 'Fredoka One', cursive;
$font-2: 'Source Sans Pro', sans-serif;
/* end FONTS */

/* IMAGES */
$img-1: url('../img/theme_slider2_bg-1.jpg');
$img-2: url('../img/wave-1.png');
$img-3: url('../img/home-background.png');
$img-4: url('../img/background-wave3.png');
/* end IMAGES */


/* MIXINS */
@mixin button-1 {
	background-color: $bg-yellow-1;
	color: $text-white;
	font-family: $font-1;
	border-radius: 30px;
}

@mixin button-2 {
	background-color: $bg-cyan-1;
	color: $text-white;
	font-family: $font-1;
	font-size: 14px;
	border-radius: 30px;
}

@mixin title-style-1 {
	font-family: $font-1;
	font-size: 45px;
	font-weight: normal;
}

@mixin description-style-1 {
	font-family: $font-2;
}

@mixin speech-bubble-1 {
	content: '';
	position: absolute;
	bottom: 0;
	left: 53%;
	width: 0;
	height: 0;
	margin-left: -20px;
}

@mixin bg-extension-1 {
	width: 100%;
	overflow-x: hidden;
	position: absolute;
	filter: brightness(0) invert(55%) sepia(11%) saturate(2863%) hue-rotate(120deg) brightness(101%) contrast(81%); // BONUS?
}

@mixin input-style-1 {
	border-radius: 50px;
	border: none;

	&::placeholder {
		font-family: $font-2;
		padding-left: 25px;
	}
}

@mixin input-button-1 {
	background-color: $bg-yellow-1;
	color: $text-white;
	width: 75px;
	height: 75px;
	line-height: 75px;
	border-radius: 50%;
	font-size: 18px;
	position: absolute;
	right: 0;
	cursor: pointer;
}
/* end MIXINS */
