@import "_common";
@import "_variables";

.upper-navbar {
	background-color: pink;
	padding: 40px 40px 0 40px;
	justify-content: space-between;

	&-logo {
		height: 50px;

		img {
			height: 100%;
		}
	}

	&-menu {
		
	}
}
